.root_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main_container {
  flex: 1;
  position: relative;
  top: 50px;
  min-height: calc(100vh - 80px);
}
