.container {
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .input {
  display: block;
  margin: 1rem 0;
}

.container .input label {
  font-size: 1rem;
}

.container button {
  width: 100%;
  height: 45px;
}

.quote_list {
  width: 100%;
  max-width: 500px;
  margin-bottom: 5rem;
}

.quote_list a{
  text-decoration: none;
  color: inherit;
  font-size: 18px;

}

.quote_list a::before{
  content: "@";
}

.quote_list p {
  font-size: clamp(14px, 18px,20px);
  line-height: 40px;
}

.quote_list .content{
  border-bottom: 0.5px solid rgb(133, 132, 132);
  padding-bottom: 0.5rem;
}


.quote_list .content span {
  display: block;
  font-size: 16px;
  text-align: end;
  font-weight: 600;
  line-height: 40px;
}

.quote_list .content span::before {
  content: "-";
}

.quote_list .top {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quote_list .top img {
  height: 75px;
  border-radius: 50%;

}

.quote_list .footer span{
  display: block;
  padding-top: 0.5rem;
  font-size: 16px;
}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  transition: 2s ease;
  cursor: progress;
}
.wrapper:hover {
   transform: scale(1.2);
}
.text {
  color: black;
  font-weight: 600;
  line-height: 50px;
}
.dot {
  background: rgb(39, 34, 34);
  height: 0.65em;
  width: 0.65em;
  border-radius: 50%;
  animation: move 0.6s ease infinite;
}
@keyframes move {
  0% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}


@media (max-width: 768px) {
  .container{
    width: 90%;
  }
}