.container {
  width: 80vw;
  margin: auto;
}

.container .input {
  display: block;
  margin: 1rem 0;
}

.container .input label {
  font-size: 1rem;
}

.container button {
  width: 100%;
  height: 45px;
}


.quote_list{
width: 100%;
max-width: 500px;
}

.quote_list p{
    font-size: 20px;
}

.quote_list span{
    display: block;
    font-size: 18px;
    text-align: end;
   
} 

.quote_list span::before{
    content: "-";
    
}   